.trafficLight {
    display: flex;
    gap: 8px;

    .button {
        --color: #000;
        --bg-color: color-mix(in srgb, var(--color) 90%, transparent);

        background-color: var(--bg-color);
        border-radius: 50%;
        border: solid 1px var(--color);
        width: 12px;
        height: 12px;

        &.red {
            --color: #ff5f56;
        }

        &.yellow {
            --color: #ffbd2e;
        }

        &.green {
            --color: #27c93f;
        }

        &.disabled {
            --color: hsl(0deg 0% 40%);
        }
    }
}
