.menuBar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: space-between;
    padding-inline: 8px;
    user-select: none;
    width: 100%;
    z-index: 200;

    .menuItems {
        .systemButton {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 18px;
            width: 18px;
        }
    }

    .quickActions {
        display: flex;
        gap: 8px;
    }
}
